/* style.css */
body {
    font-family: sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    margin: 0;
    padding: 20px;
}
h1, h2 {
    color: #FFFFFF;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
.card {
    background-color: #1E1E1E;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 5px 20px;
    margin-bottom: 20px;
}
#statut-serveur-principal, #statut-camera-1, #statut-pare-feu {
    font-size: 1.2em;
    font-weight: bold;
    color: #ff7300; /* Orange (couleur "En attente") */
}
